<head>
  <title>Todo List</title>
</head>

<body>
  <div class="container" ng-app="simple-todos" ng-controller="TodosListCtrl">
    <header>
      <h1>Todo List ({{incompleteCount()}})</h1>

      <label for="" class="hide-completed">
        <input type="checkbox" ng-model="hideCompleted" />
        Hide Completed Tasks
      </label>

      <login-buttons></login-buttons>

      <form ng-submit="addTask(newTask); newTask='';" class="new-task" ng-show="$root.currentUser">
        <input type="text" ng-model="newTask" name="text" placeholder="Type to add new tasks" />
      </form>
    </header>

    <ul>
      <li ng-repeat="task in tasks" ng-class="{'checked': task.checked}">
        <button class="delete" ng-click="deleteTask(task)">&times;</button>
        <input type="checkbox" ng-checked="task.checked" ng-click="setChecked(task)" class="toggle-checked" />
        <span class="text"><strong>{{task.username}}</strong> - {{task.text}}</span>
      </li>
    </ul>
  </div>
</body>
